<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyz.manage.mapper.DepartmentMapper">

<resultMap id="DepartmentEntityMap" type="com.wyz.manage.entity.Department">
<id column="ID" property="id"></id>
<result column="ID" property="id"></result>
<result column="NAME" property="name"></result>
<result column="MANAGER" property="manager"></result>
<result column="NUMBER" property="number"></result>
<result column="INTRO" property="intro"></result>
</resultMap>

<select id="findAll" resultMap="DepartmentEntityMap">
 SELECT * from department
</select>

<select id="findPart" resultMap="DepartmentEntityMap">
 SELECT * FROM department LIMIT #{begin},#{amount}
</select>

<update id="addNumber">
 UPDATE department SET NUMBER = NUMBER+1 WHERE NAME = #{name}
</update>

<update id="subtractNumber">
 UPDATE department SET NUMBER = NUMBER-1 WHERE NAME = #{name}
</update>

<select id="findNumber" resultType="int">
        SELECT COUNT(*) FROM department
</select>

</mapper>